*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(24, 26, 46, 0.877);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.card_box{
    display: flex;
    gap: 20px;
    perspective: 800px; 

}



.cards{
    background-color: rgb(55, 115, 155);
    width: 200px;
    height: 300px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: white;


    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

}

.card{
    transform-style: preserve-3d;
    transition: 1s;
}

.card:hover {
  transform: rotateY(180deg);
}

.back{
    transform: rotateY(180deg);
}

.front{
    position: absolute;
}


.c1 .front{background-color: red;}
.c2 .front{background-color: orange;}
.c3 .front{background-color: rgb(180, 180, 26);}
.c4 .front{background-color: rgb(100, 153, 22);}
.c5 .front{background-color: skyblue;}
.c6 .front{background-color: purple;}

