*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

ul{
    list-style: none;
}

input{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

li{
    background-color: #cccccc4b;
    border: 1px solid #ccc;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.del{
    background-color: rgba(255, 0, 0, 0.726);
    color: white;
    font-weight: bold;
}