*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: 0.2s;
}

.button{
    background-color: #c7c7c7;
    width: 160px;
    height: 80px;
    border-radius:150px;

    position: relative;
    transition: 0.3s;
}

.bull{
    background-color: white;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;

    top: 50%;
    left: 10px;
    transform: translateY(-50%);

    transition: 0.3s;
}

#input:checked ~ label > .bull{
    left: 90px;
    background-color: rgba(255, 255, 0, 0.808);
}

#input:checked ~ label{
    background-color: rgb(47, 47, 133);

}

body:has(#input:checked){
    background-color: #222;
}

