*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 헤더css */

header{
    width: 100%;
    position: fixed;
}

header > .header_min {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
}

header > .header_min > .header_logo_box > a{
    display: flex;
    align-items: center;
    color: skyblue;
    text-decoration: none;
    gap: 10px;
}

header > .header_min > .header_logo_box > a > i{
    font-size: 30px;
}

.auth-buttons > a{
    text-decoration: none;
    color: black;
    padding: 5px;
    border:1px solid #ccc;
    border-radius: 10px;
}

nav > ul > li{
    position: relative;
    
}

nav > ul > li > a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav > ul {
    display: flex;
    gap: 50px;
    list-style: none;
}


.sub_nav {
  position: absolute;
  border-radius: 20px;
  width: max-content;
  padding: 20px;
  opacity: 0;
  left: 50%;
  top: 100%;
  background-color: #cccccc70;
  list-style: none;
  transform: translateX(-50%);
}

nav > ul > li:hover .sub_nav{
    opacity: 1;
    transition: 0.5s;
}

.sub_nav > li {
    border-radius: 10px;
    padding: 5px;
}
.sub_nav > li:hover {
    background-color: #ccc;
}



/* 헤더css */
