*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(22, 22, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box{
    background-color: red;
    width: 400px;
    height: 400px;
    clip-path: polygon(50% 0% ,50% 0% ,50% 0% ,50% 0% , 100% 100% , 0% 100%);
    animation: move 5s;
    transition: 1s;
}

@keyframes move {
    0%{clip-path: polygon(50% 0% ,50% 0% ,50% 0% ,50% 0% , 100% 100% , 0% 100%);}
    12.5%{clip-path: polygon(50% 0% ,50% 0% ,50% 0% ,50% 0% , 100% 100% , 0% 100%);}
    25%{clip-path: polygon(0% 0% ,0% 0% ,0% 0% ,100% 0% ,100% 100% ,0% 100%);}
    37.5%{clip-path: polygon(0% 0% ,0% 0% ,0% 0% ,100% 0% ,100% 100% ,0% 100%);}
    50%{clip-path: polygon(50% 0%,50% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);}
    62.5%{clip-path: polygon(50% 0%,50% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);}
    75%{clip-path: polygon(25% 0% ,75% 0% , 100% 50%, 75% 100%, 25% 100% , 0% 50%);}
    87.5%{clip-path: polygon(25% 0% ,75% 0% , 100% 50%, 75% 100%, 25% 100% , 0% 50%);}
    100%{clip-path: polygon(50% 0% ,50% 0% ,50% 0% ,50% 0% , 100% 100% , 0% 100%);}
}